<mat-nav-list>
    <a mat-list-item routerLink="/">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Home</span>
    </a>

    @if (authService.isLoggedIn()) {
    <a mat-list-item routerLink="/fda-enforcement">
        <mat-icon matListItemIcon>warning</mat-icon>
        <span matListItemTitle>FDA Reports</span>
    </a>
    }

    <a mat-list-item href="#">
        <mat-icon matListItemIcon>star</mat-icon>
        <span matListItemTitle>Features</span>
    </a>
    <a mat-list-item routerLink="/about">
        <mat-icon matListItemIcon>info</mat-icon>
        <span matListItemTitle>About</span>
    </a>
</mat-nav-list>