.sidenav-container {
    height: 100vh;
}

.main-content {
    min-height: calc(100vh - 64px); // Adjust based on header height
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    overflow-x: hidden;
}